@if (cartProducts$ | async; as cartProducts) { @if (cartProducts.length === 0) {
<div class="empty-cart">
  <h2>Your cart is empty!</h2>
  <h3>But you can fix this! Just keep shopping.</h3>
  <app-button>
    <a routerLink="/">Back to store!</a>
  </app-button>
</div>
} @else {
<div class="container">
  <div class="items-list">
    @for (product of cartProducts$ | async; track $index) {
    <div class="card-item-container">
      <div class="cart-item">
        <img [src]="product.image" alt="{{ product.name }}" />
        <div class="cart-item-info">
          <h3>{{ product.name }}</h3>
          <p class="price">Price: {{ product.price | currency }}</p>
          <p>Rating: {{ product.rating }} stars</p>
          <div class="controls">
            <button (click)="removeFromCart(product.id)">-</button>
            <p>{{ product?.count }}</p>
            <button (click)="addToCart(product)">+</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="total">
    <h2>Order now</h2>
    <h3>Shipping: {{ 0 | currency }}</h3>
    <h3>Total Price: {{ cartTotalPrice$ | async | currency }}</h3>
    <app-button>Purchase</app-button>
  </div>
</div>
} }
