@mixin styled-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }

  &:hover {
    border-color: #666;
  }

  &::placeholder {
    color: #aaa;
    font-style: italic;
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;

  .styled-input {
    @include styled-input;
  }

  .styled-select {
    @include styled-input;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23666' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;

    &:focus {
      background-position: right 14px center;
    }
  }
}

.search-box,
.type-filter,
.price-filter {
  display: flex;
  flex-direction: column;
}
.price-filter {
  gap: 1rem;
}

.price {
  display: flex;
  gap: 10px;
}

label {
  font-weight: bold;
  font-size: 1.3rem;
}
