<form [formGroup]="filterForm" class="filter-form">
  <label for="search">Search:</label>
  <input
    type="text"
    id="search"
    formControlName="search"
    placeholder="Search products..."
    class="styled-input"
  />
  <label for="type">Type:</label>
  <select id="type" formControlName="selectedType" class="styled-select">
    @for (type of types; track $index) {
    <option [value]="type">{{ type }}</option>
    }
  </select>

  <div class="price-filter" formArrayName="priceRanges">
    <label>Price Range:</label>
    @for (range of priceRanges; track $index) {
    <div class="price">
      <input type="checkbox" [id]="$index" [formControlName]="$index" />
      <label [for]="$index">{{ range.label }}</label>
    </div>
    }
  </div>
</form>
