<div class="layout">
  <aside class="filter-panel">
    <app-filters (filtersChanged)="handleFilters($event)"></app-filters>
  </aside>
  <button class="toggle-filter" (click)="toggleFilter()">Filters</button>

  <div
    class="product-grid"
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScrollDown()"
  >
    @for (product of products$ | async; track $index) {
    <div class="card">
      <div class="card-link" (click)="openDialog(product)">
        <img class="card-image" [src]="product.image" [alt]="product.name" />
        <div class="card-content">
          <h3 class="title">{{ product.name }}</h3>
          <p class="price">${{ product.price }}</p>
          <p class="rating">Rating: ⭐{{ product.rating }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
